<section ng-init="HorariosPermanencia()">
  <div class="page-header">
    <h1>Saída de veículo</h1>
  </div>
  <div class="col-md-12">

    <form name="vm.form.entradaveiculoForm" class="form-horizontal" ng-submit="vm.save(vm.form.entradaveiculoForm.$valid)" novalidate>
      <fieldset class="table ">
        <div class="form-group">
          <div class="thumbnail" style="width: 200px; height: 150px; white-space: nowrap;" data-ng-repeat="foto in vm.entradaveiculo.dynamicProperties.fotosEntrada">
            <div style="display:table-cell;vertical-align:middle;width:195px; height: 145px;" >
              <img ng-if="foto.data != ''" data-ng-src="data:{{foto.contentType}};base64,{{foto.data}}" data-err-src="modules/configuracoes/client/img/not-available.png" class="center-block" style="max-width: 100%;max-height: 100%;" />
            </div>
          </div>
        </div>
        <div class="form-group form-group-lg">
          <div class="row">
            <div class="col-xs-2 col-sm-2 " >
              <label class="control-label" for="placa">Placa</label>
            </div>
            <div class="col-xs-4 col-sm-4">
              <input disabled name="placaLetras" auto-tab-to="placaNumeros" maxlength="3" type="text" ng-model="vm.entradaveiculo.placaLetras" id="placaLetras" class="text-uppercase form-control" placeholder="Letras" required>
              <div ng-messages="vm.form.entradaveiculoForm.placaLetras.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Informe as letras.</p>
              </div>
            </div>
            <div class="col-xs-6 col-sm-6">
              <input disabled name="placaNumeros" auto-tab-to="inputVeiculo" maxlength="4" type="number" ng-model="vm.entradaveiculo.placaNumeros" id="placaNumeros" class="text-uppercase form-control" placeholder="Números" required>
            </div>
          </div>
        </div>

        <div class="form-group form-group-lg" >
          <div class="row">
            <div class="col-xs-4 col-sm-2">
              <label class="control-label"  for="veiculo">Marca/Modelo</label>
            </div>
            <div class="col-xs-8 col-sm-10">
              <input disabled id="inputVeiculo" name="veiculo" type="text" ng-model="vm.entradaveiculo.veiculo.marcaModelo" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group form-group-lg" >
          <div class="row">
            <div class="col-xs-2 col-sm-2" >
              <label class="control-label" for="numeroPrisma">Prisma</label>
            </div>
            <div class="col-xs-4 col-sm-4">
              <input disabled name="numeroPrisma" type="number" ng-model="vm.entradaveiculo.numeroPrisma" id="numeroPrisma" class="form-control">
            </div>
            <div class="col-xs-2 col-sm-2" >
              <label class="control-label" for="tempoPorExtenso">Tempo</label>
            </div >
            <div class="col-xs-4 col-sm-4">
              <input disabled type="text" ng-model="vm.entradaveiculo.dynamicProperties.tempoPorExtenso" class="form-control">
            </div>
          </div>
        </div>

        <div class="form-group form-group-lg" >
          <div class="row">
            <div class="col-xs-3 col-sm-4" >
              <label class="control-label" >Tabela / Convênio</label>
            </div>
            <div class="col-xs-9 col-sm-8">
              <select name="tabelaSelecionada" id="tabelaSelecionada" class="form-control"
              ng-options="tabela.name for tabela in vm.entradaveiculo.dynamicProperties.tabelasPreco"
              ng-model="tabela" ng-change="tabelaSelecionada_change(tabela);" ></select>
            </div>
          </div>
        </div>

        <div class="form-group form-group-lg" >
          <div class="row">
            <div class="col-xs-2 col-sm-2" >
              <label class="control-label" for="valorTotal">Total</label>
            </div >
            <div class="col-xs-10 col-sm-10 ">
              <h3>{{vm.entradaveiculo.valorEstadia | currency:"R$ ":2}}</h3>
            </div>
          </div>
        </div>

        <div class="form-group" >
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a data-toggle="collapse" class="collapsed" data-target="#collapseDetail" href="#collapseDetail">Detalhamento</a>
                  </h3>
                </div>
                <div id="collapseDetail" class="panel-collapse collapse">
                  <div class="panel-body">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Data</th>
                          <th>Início</th>
                          <th>Fim</th>
                          <th>Tempo</th>
                          <th class="text-right">Valor</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr data-ng-repeat="horario in vm.horarios">
                          <td>
                            <span data-ng-bind="horario.Data | date:'dd/MM/yyyy'"></span>
                          </td>
                          <td>
                            <span data-ng-bind="horario.HoraInicio | date:'HH:mm'"></span>
                          </td>
                          <td>
                            <span data-ng-bind="horario.HoraFim | date:'HH:mm'"></span>
                          </td>
                          <td>
                            <span data-ng-bind="horario.Tempo | date:'HH:mm'"></span>
                          </td>
                          <td class="text-right">
                            <span ng-if="horario.IsMensalista">Mensalista</span>
                            <span ng-if="!horario.IsMensalista" data-ng-bind="horario.Valor | number: 2 "></span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row" ng-show="vm.pagamentos.length > 0">
            <div class="col-xs-12 col-sm-12">
              <table class="table">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Forma</th>
                    <th class="text-right">Valor</th>
                    <th class="text-right"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr data-ng-repeat="pag in vm.pagamentos">
                    <td>
                      <span data-ng-bind="vm.pagamentos.indexOf(pag) + 1"></span>
                    </td>
                    <td>
                      <span data-ng-bind="pag.FormaPagamento"></span>
                    </td>
                    <td class="text-right">
                      <span data-ng-bind="pag.Valor | number: 2"></span>
                    </td>
                    <td class="text-right">
                      <button type="button" class="btn btn btn-danger" ng-click="vm.pagamentos.splice(vm.pagamentos.indexOf(pag), 1); vm.addpagamentoshow = true; calcula();">x</button>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                   <tr>
                     <th></th>
                     <th></th>
                     <th class="text-right" data-ng-bind="totalFormaPagamentoAdd() | number: 2"></th>
                     <th class="text-right"></th>
                   </tr>
                </tfoot>
              </table>
            </div>
          </div>

          <div class="form-group form-group-lg" ng-show="vm.entradaveiculo.valorTroco > 0">
            <div class="row">
              <div class="col-xs-2 col-sm-2" >
                <label class="control-label" for="valorTotal">Troco</label>
              </div >
              <div class="col-xs-10 col-sm-10 ">
                <h3>{{vm.entradaveiculo.valorTroco | currency:"R$ ":2}}</h3>
              </div>
            </div>
          </div>

          <div class="row" ng-show="vm.addpagamentoshow">
            <div class="col-xs-12 col-sm-12 text-left" >
              <button type="button" class="btn btn-primary" id="btnAddPagamento" data-toggle="collapse" data-target="#pnlPagamento" scroll-to="valorFormaPagamento">Adicionar Pagamento</button>
            </div>
          </div>
          <div class="row panel-collapse collapse" id="pnlPagamento" ng-show="vm.addpagamentoshow">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Novo Pagamento</h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-12 col-sm-4">
                    <div class="funkyradio">
                        <div class="funkyradio-success">
                            <input type="radio" value="dinheiro" name="formapagamento" id="fpDinheiro"  ng-model="vm.formapagamentoselected" checked/>
                            <label for="fpDinheiro">Dinheiro</label>
                        </div>
                        <div class="funkyradio-success">
                            <input type="radio" value="cartao" name="formapagamento" id="fpCartao" ng-model="vm.formapagamentoselected" />
                            <label for="fpCartao">Cartão</label>
                        </div>
                        <div class="funkyradio-success">
                            <input type="radio" value="cheque" name="formapagamento" id="fpCheque" ng-model="vm.formapagamentoselected" />
                            <label for="fpCheque">Cheque</label>
                        </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-8" >
                    <div class="row vcenter">
                      <div class="col-xs-4 col-sm-4">
                        <label for="valorFormaPagamento">Valor</label>
                        <input type="text" id="valorFormaPagamento" ui-number-mask="decimals" ng-model="vm.formapagamentovalor"  class="form-control" autofocus>
                      </div>
                      <div class="col-xs-8 col-sm-2 text-right vcenter">
                        <button type="button" class="btn btn-primary" ng-disabled="vm.formapagamentovalor <= 0" ng-click="adicionarPagamento()">OK</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
        </div>


        <div class="form-group" >
          <div class="row">
            <div class="col-xs-12 col-sm-12 text-right" >
              <button type="submit" ng-disabled="totalFormaPagamentoAdd() < vm.entradaveiculo.valorEstadia" class="btn btn-success">Registrar Saída</button>
            </div>
          </div>
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
        </div>

      </fieldset>
    </form>
  </div>

</section>
