<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.empresa.nome"></h1>
  </div>
  <div class="pull-right"
       data-ng-show="vm.empresa.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="empresa.edit({ empresaId: vm.empresa._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.empresa.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.empresa.user"
            data-ng-bind="vm.empresa.user.displayName"></span>
      <span data-ng-if="!vm.empresa.user">Deleted User</span>
    </em>
  </small>
  <img ng-if="vm.empresa.logo.data != ''" data-ng-src="data:{{vm.empresa.logo.contentType}};base64,{{vm.empresa.logo.data}}" data-err-src="images/png/avatar.png"/>  
  <p class="lead" data-ng-bind="vm.empresa.content"></p>

</section>
